.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 4rem 0;
    width: 100%;
    height: 100vh;
    .flex-btn{
        display: flex;
        gap: 1rem;
        margin: 2rem;
    }
    .w-full{
        width: 100%;
        max-width: 1440px;
    }
}

.text-header {
    display: block;
    font-weight: 500;
}
